<div class="hero-section">
  <div class="left">
    <span
      >Where passions meet purpose,
      <span style="color: #fef">greatness</span>
      begins.</span
    >
  </div>
  <div class="right">
    <div class="card-wrapper">
      <div class="card-front">
        <div class="layer">
          <div class="img-txt">
            <img src="/images/club.svg" alt="" />
            <h1>Join Clubs, Grow Skills, Make Impact!</h1>
          </div>
          <div class="corners">
            <div class="corner"></div>
            <div class="corner"></div>
            <div class="corner"></div>
            <div class="corner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-club-content></app-club-content>
