<div class="body-content">
  <div class="heading">Admin Dashboard</div>
  <div class="edit-club-details">
    <h2 class="sub-heading">Edit Club Details</h2>

    <div class="club-list">
      <div class="club-header">
        <div>Club Name</div>
        <div>Created by</div>
        <div>Created at</div>
        <div></div>
      </div>
      <div class="club-item">
        <div>Arts club</div>
        <div>Hariesh</div>
        <div>9/9/2024</div>
        <button class="edit-btn">Edit</button>
      </div>
      <div class="club-item">
        <div>Dance club</div>
        <div>Raghav</div>
        <div>9/9/2024</div>
        <button class="edit-btn">Edit</button>
      </div>
    </div>

    <div class="btns">
      <button class="add"><img src="images/add-user.png" alt="" /></button>
      <button class="subtract">
        <img src="images/remove-user.png" alt="" />
      </button>
    </div>
  </div>
  <div class="edit-admin-details">
    <h2 class="sub-heading">Edit Club Admin Details</h2>
    <div class="admin-list">
      <div class="club-header">
        <div>Club Name</div>
        <div>Name</div>
        <div>Email</div>
      </div>
      <div class="club-item">
        <div>Arts club</div>
        <div>Hariesh</div>
        <div>hariesh652gmail.com</div>
      </div>
      <div class="club-item">
        <div>Dance club</div>
        <div>Raghav</div>
        <div>raghavgmail.com</div>
      </div>
    </div>
    <div class="btns">
      <button class="add"><img src="images/add-user.png" alt="" /></button>
      <button class="subtract">
        <img src="images/remove-user.png" alt="" />
      </button>
    </div>
  </div>
</div>
