.card-front {
  width: 600px;
  height: 350px;
}

.card-front .layer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.4),
    transparent 2px,
    rgba(0, 0, 0, 0.4) 4px
  );

  background-color: #131a3ae9;
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1),
    0px 6px 8px 0px rgba(0, 0, 0, 0.1), 6px 0px 8px 0px rgba(0, 0, 0, 0.1),
    -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
  color: #d4cd96;
  font-family: "Fira Sans", sans-serif;
}

.card-front .layer h1 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 40px;
}

.img-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-txt img {
  height: 80px;
  width: 80px;
}

.card-front .layer .corner {
  border-right: 2px solid #d4cd96;
  border-top: 2px solid #d4cd96;
  height: 30px;
  position: absolute;
  width: 30px;
}

.card-front .layer .corner:nth-of-type(1) {
  right: 0;
  top: 0;
  margin: 20px;
}

.card-front .layer .corner:nth-of-type(2) {
  left: 0;
  top: 0;
  margin: 20px;
  transform: rotateZ(-90deg);
}

.card-front .layer .corner:nth-of-type(3) {
  bottom: 0;
  left: 0;
  margin: 20px;
  transform: rotateZ(180deg);
}

.card-front .layer .corner:nth-of-type(4) {
  bottom: 0;
  margin: 20px;
  right: 0;
  transform: rotateZ(90deg);
}
